<ion-header>
  <ion-toolbar>
  <ion-buttons slot=
 "start">
  <ion-back-button defaultHref="/reservaciones"></ion-back-button>
  </ion-buttons>
  <ion-title *ngIf="!isLoading">{{reservacion.restaurante}}</ion-title>
  </ion-toolbar>
 </ion-header>
 <ion-content class="ion-text-center">
  <div *ngIf="isLoading">
  <ion-spinner></ion-spinner>
  </div>
  <form (ngSubmit)=
 "onEditar()" *ngIf="!isLoading" #formNew=
 "ngForm">
  <ion-grid>
  <ion-row>
  <ion-col size="6" offset="3" class="ion-text-center">
  <ion-img [src]="reservacion.imgUrl"></ion-img>
  </ion-col>
  </ion-row>
  <ion-row>
  <ion-col size="12" class="ion-text-center">
  <ion-item>
  <ion-label position="oating">A nombre de</ion-label>
  <ion-input [ngModel]=
 "nombre" required name=
 "nombre" value="reservacion.nombre"></ion-input>
  </ion-item>
  </ion-col>
  </ion-row>
  </ion-grid>
  <ion-button color=
 "primary" type=
 "submit" [disabled]="!formNew.valid">Guardar</ion-button>
  </form>
 </ion-content>
