<ion-header>
  <ion-toolbar color=
 "primary">

  <ion-buttons slot=
 "start">
  <ion-back-button defaultHref="/restaurantes"></ion-back-button>
  </ion-buttons>
  <div *ngIf="isLoading">
  <ion-spinner color=
 "primary"></ion-spinner>
  </div>

  <ion-title *ngIf="!isLoading">{{restaurante.titulo}}</ion-title>
  <ion-buttons slot=
 "primary">
  <ion-button (click)=
 "onDeleteRestaurante()">
  <ion-icon name="trash" slot="icon-only"></ion-icon>
  </ion-button>
  </ion-buttons>
  </ion-toolbar>
 </ion-header>
 <ion-content class="ion-text-center">
  <div *ngIf="isLoading">
  <ion-spinner color=
 "primary"></ion-spinner>
  </div>
  <ion-grid *ngIf="!isLoading">
  <ion-row>
  <ion-col>
  <ion-img [src]="restaurante.imgUrl" style="height:200px;"></ion-img>
  </ion-col>
  </ion-row>
  <ion-row>
  <ion-col>
  <ion-button color=
 "primary" class="ion-text-center" (click)=
 "onReservarRestaurante()">Reservar</ion-button>
  </ion-col>
  </ion-row>
  <ion-row>
  <ion-col>
  <h3 class="ion-text-center">Platillos</h3>
  </ion-col>
  </ion-row>
  <ion-row>
  <ion-col>
  <ion-list>
  <ion-item *ngFor="let p of restaurante.platillos">
  {{p}}
  </ion-item>
  </ion-list>
  </ion-col>
  </ion-row>
  </ion-grid>
 </ion-content>
